# Data
data/*.csv
data/*.pkl
!data/.gitkeep

# Models
#models/*.pkl
#models/*.joblib
!models/.gitkeep

# Secrets
.env
*.env
secrets.json

# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

# Virtual env
venv/
.venv/
env/

# Testing
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log 
